- name: Check If Docker Is Installed
  command: docker --version
  register: docker_valid
  ignore_errors: true

# Completely setup docker
- name: Remove old docker versions
  become: true
  apt:
    pkg:
      - containerd
      - runc
    state: absent
  when: docker_valid.failed

- name: Install pre-requisites
  become: true
  apt:
    pkg:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - apt-transport-https
    state: latest
    update_cache: yes
  when: docker_valid.failed

- name: Add signing key
  become: true
  apt_key:
    url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    state: present
  when: docker_valid.failed

- name: Add Docker Repository
  become: true
  apt_repository:
    repo: "deb [arch={{ ansible_architecture }}] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
  when: docker_valid.failed

- name: Install Docker & dependencies
  become: true
  apt:
    name:
      - docker
      - docker.io
      - docker-compose
      - docker-registry
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: true
  when: docker_valid.failed

- name: Docker is running
  service:
    name: docker
    state: started

- name: Add '{{ ansible_user }}' user to docker group
  become: true
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
