- name: Check If Docker Is Installed
  command: docker --version
  register: docker_valid
  ignore_errors: true

# Completely setup docker
- name: Remove old docker versions
  become: true
  apt:
    pkg:
      - docker.io
      - docker-doc
      - docker-compose
      - podman-docker
      - containerd
      - runc
    state: absent
  when: docker_valid.failed

- name: Install pre-requisites
  become: true
  apt:
    pkg:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - apt-transport-https
    state: latest
    update_cache: yes
  when: docker_valid.failed

- name: Create directory for apt keyrings
  become: true
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  when: docker_valid.failed

- name: Add Docker GPG key
  become: true
  shell: |
    curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
    chmod a+r /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg
  when: docker_valid.failed

- name: Get dpkg architecture
  command: dpkg --print-architecture
  register: dpkg_arch
- set_fact:
    cpu_arch: "{{ dpkg_arch.stdout }}"

- name: Add Docker Repository
  become: true
  apt_repository:
    repo: "deb [arch={{ cpu_arch }} signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
  when: docker_valid.failed

- name: Install Docker & dependencies
  become: true
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: true
  when: docker_valid.failed

- name: Docker is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Add '{{ ansible_user }}' user to docker group
  become: true
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
