---
apiVersion: v1
kind: ConfigMap
metadata:
  name: radarr-config
  namespace: media
data:
  TZ: "America/New_York"
  RADARR__SERVER__PORT: "7878"
  RADARR__AUTH__METHOD: ""
  RADARR__AUTH__REQUIRED: "DisabledForLocalAddresses"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: media
  labels:
    app: radarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      securityContext:
        fsGroup: 568
      containers:
        - name: radarr
          image: oci.trueforge.org/containerforge/radarr:6.0.3.10276
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: radarr-config
          ports:
            - name: webui
              containerPort: 7878
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            allowPrivilegeEscalation: false
          livenessProbe:
            httpGet:
              path: /ping
              port: 7878
            initialDelaySeconds: 60
            periodSeconds: 15
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ping
              port: 7878
            initialDelaySeconds: 30
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /ping
              port: 7878
            initialDelaySeconds: 60
            periodSeconds: 15
            failureThreshold: 6
      
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: radarr-config
        - name: media
          persistentVolumeClaim:
            claimName: shared-media
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: media
  labels:
    app: radarr
spec:
  type: ClusterIP
  selector:
    app: radarr
  ports:
    - name: webui
      port: 7878
      targetPort: 7878
      protocol: TCP