pollinterval = 1
maxretry     = 3

[{{ ups_name }}]
	driver = "{{ ups_attributes.driver }}"
	port = "{{ ups_attributes.port }}"
	vendorid = "{{ ups_attributes.vendorid }}"
	productid = "{{ ups_attributes.productid }}"
	product = "{{ ups_attributes.product }}"
	serial = "{{ ups_attributes.serial }}"
	vendor = "{{ ups_attributes.vendor }}"
	bus = "001"