---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
  - ingressroute.yaml
# PostgreSQL secret and config are created manually via kubectl
# See POSTGRES_SETUP.md for instructions
