---
# Setup sudoers
# Description: Replace sudoers so that users can become su with sudo command
- name: Install 'nfs' - file sharing
  become: true
  apt:
    name: nfs-common
    state: latest

- name: "Install git"
  become: true
  apt:
    name: git
    state: latest

- name: "Install Vim"
  become: true
  apt:
    name: vim
    state: latest

- name: Install 'unzip'
  become: true
  apt:
    name: unzip
    state: latest
